@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.nav{
    background-color:#FF6B00;
    width: 105vw;
    height: 70px;
    position: absolute;
    top: 0;
    margin: 0px -50px;
    
}

.text{
    top: 0;
    height: 70px;
    background-color:#FF6B00;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

@media screen and (max-width: 600px) {
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    transform: none;
    position: absolute;
    width: 100vw;
}

.scrolling-text-animation{
    position: relative;
    z-index: -1 !important;
    top: 10px;
    
    
}

}
